.button-class {
	background-color: #FFDE00;
	color: #3B4CCA;
	border: none;
	text-align: center;
	/* text-decoration: none;*/
	display: inline-block;
	font-size: 20px; 
	border-radius: 10px;
	transition-duration: 0.3s;
	width: 150px;
	margin: 5px 25px 5px 25px;
	text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
}

.button-class:hover {
	background-color: #FF0000; 
	color: white;
}

.pokemon-list {
	list-style: none;
}
